$primary: hsl(4, 83%, 49%);
$secondary: hsl(4, 83%, 60%);
$blue: hsl(197, 40%, 61%);
$purple: hsl(227, 42%, 65%);
$green: hsl(108, 25%, 55%);
$orange: hsl(46, 100%, 45%);
$red: hsl(323, 29%, 52%);
$black: hsl(220, 5%, 12%);
$dark: hsl(220, 5%, 20%);
$gray: hsl(220, 5%, 90%);
$light: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
