.sprache-bildung {
   padding: 0;

   .banner {
      height: 60vh;
      position: relative;

      &::after {
         content: "";
         height: 100%;
         width: 100%;
         background-color: $dark;
         mix-blend-mode: multiply;
         position: absolute;
         inset: 0;
         z-index: 2;
      }

      img {
         position: absolute;
         inset: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: top center;
         z-index: 1;
      }

      .title {
         position: absolute;
         inset: 50% auto auto 1em;
         color: $white;
         z-index: 3;
         max-width: 50%;
         transform: translateY(-50%);
         line-height: 1.2;
      }
   }

   .text {
      @include grid($ai: start);
      padding: 2em;
      border-radius: $border-radius;
      background-color: $white;
      gap: 2em;
      box-shadow: $boxshadow;

      .img-box {
         max-width: auto;
         border-radius: $border-radius;
         overflow: hidden;

         img {
            height: 70vh;
            width: 100%;
            object-fit: cover;
            margin-left: 2em;
            border-radius: $border-radius;
         }
      }

      .einleitung {
         display: flow-root;
         order: -1;
      }

      .details-list {
         list-style-type: disc;

         li {
            font-size: 1.125rem;
            color: $purple;

            span {
               color: $black;
            }

            &:not(:last-child) {
               margin-bottom: 1.5em;
            }
         }
      }

      .inhalt {
         @include flex(column, $ai: start);
         margin-top: 2em;

         h1 {
            margin-bottom: 0.5em;
            color: $purple;
         }

         a {
            color: $purple;
            font-size: 0.875rem;
            transition: $transition;

            &:hover {
               text-decoration: underline;
            }

            &.active {
               color: $primary;
            }
         }
      }
   }

   .inhalt-details {
      background-color: $white;
      box-shadow: $boxshadow;
      border-radius: $border-radius;
   }
}
