@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
  background-color: #f9f9fb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1em;
  color: #55585e;
}

p.details {
  font-size: 0.875rem;
}

small {
  font-size: 0.75rem;
}

ol,
ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer {
  padding-block: 3em;
}

.btn {
  display: inline-block;
  margin-top: 2em;
  padding: 0.5em 1em;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border: none;
  background-color: #e52315;
  color: white;
  border-radius: 0.3em;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-color: #1d1e20;
  box-shadow: 5px 5px 0.5em -0.2em #e52315;
  transform: translateY(-3px);
}
.btn:active {
  background-color: #55585e;
}

.title {
  font-size: clamp(2rem, 3vw, 3.375rem);
  margin-bottom: 0.5em;
}

.sub-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.main-title {
  margin-bottom: 2em;
  text-align: center;
}
.main-title p {
  max-width: 50%;
  margin-inline: auto;
}

.loading {
  font-size: 1.5rem;
  color: #e52315;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1220px;
  margin-inline: auto;
}

.header {
  height: 70px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  gap: 2em;
}
.header .logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
}
.header .logo a {
  font-size: clamp(1.125rem, 1.6vw, 1.9rem);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  color: #e52315;
  text-decoration: none;
}
.header .logo a small {
  display: block;
  color: #55585e;
  text-transform: initial;
  font-weight: 400;
}
.header .nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.header .nav-list-item a {
  color: #1d1e20;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
.header .nav-list-item a:hover {
  color: #e52315;
}
.header .nav-list-item a.active {
  color: #e52315;
}

@media (max-width: 820px) {
  .header {
    height: auto;
  }
  .header .container {
    padding-block: 1em;
  }
}
.showcase .showcase-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 70px - 2.95em);
}
.showcase .showcase-banner .map-img {
  max-width: 100%;
}
.showcase .showcase-banner .slogan {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
}
.showcase .showcase-banner .slogan .title {
  display: inline-block;
  color: #e52315;
  line-height: 1.3;
  margin-bottom: 0;
  font-size: clamp(2rem, 3.75vw, 4.375rem);
}
.showcase .showcase-banner .slogan h2 {
  margin-top: 0.5em;
  color: #55585e;
  font-size: 1.125rem;
}
.showcase .showcase-body {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: initial;
}
.showcase .showcase-body a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.3em;
  padding: 2em;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
.showcase .showcase-body a:hover {
  transform: translateY(-5px);
}
.showcase .showcase-body a:nth-of-type(1) {
  background-color: #8091cb;
}
.showcase .showcase-body a:nth-of-type(2) {
  background-color: #74adc3;
}
.showcase .showcase-body a:nth-of-type(3) {
  background-color: #e6b000;
}
.showcase .showcase-body a:nth-of-type(4) {
  background-color: #7ba970;
}
.showcase .showcase-body a:nth-of-type(5) {
  background-color: #a8618d;
}
.showcase .showcase-body a:nth-of-type(6) {
  background-color: #8091cb;
}

.showcase-nav {
  display: grid;
  gap: 2em;
  grid-template-columns: 20% auto;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.showcase-nav .icon {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 4.25rem;
  color: white;
}
.showcase-nav .title {
  font-size: clamp(1.5rem, 1vw, 2.5rem);
  line-height: 1.5;
  color: white;
}
.showcase-nav p {
  color: #f9f9fb;
  margin-top: 0;
  position: relative;
}
.showcase-nav p:nth-of-type(1) {
  margin-top: 1em;
}

@media (max-width: 830px) {
  .showcase .showcase-banner {
    min-height: 70vh;
    grid-template-columns: 1fr;
  }
  .showcase .showcase-banner .slogan {
    align-self: end;
  }
}
@media (max-width: 768px) {
  .showcase .showcase-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-flow: dense;
    justify-content: space-between;
    align-items: center;
    align-items: initial;
  }
  .showcase .showcase-nav {
    grid-template-columns: 1fr;
  }
}
.notice .notice-content {
  background-color: white;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5);
  border-radius: 0.3em;
  padding: 3em;
}
.notice .title {
  text-align: center;
}

.footer {
  padding-top: 0;
  color: white;
}
.footer .container {
  padding-top: 3em;
  border-top: 4px solid #e52315;
}
.footer .logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
}
.footer .logo a {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  color: #e52315;
  text-decoration: none;
}
.footer .logo a small {
  display: block;
  color: #55585e;
  text-transform: initial;
  font-weight: 400;
}
.footer .footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  justify-content: space-between;
  align-items: end;
}
.footer .footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  margin-top: 1.5em;
}
.footer .footer-links a {
  display: inline-block;
  color: #55585e;
  transition: all 0.4s ease-in-out;
}
.footer .footer-links a:hover {
  text-decoration: underline;
}
.footer .social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  gap: 2em;
}
.footer .social a {
  display: inline-block;
  line-height: 0;
  color: #55585e;
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
}
.footer .social a:hover {
  color: #74adc3;
}
.footer .copyright {
  display: block;
  margin-top: 3em;
  color: #888888;
}

.sprache-bildung {
  padding: 0;
}
.sprache-bildung .banner {
  height: 60vh;
  position: relative;
}
.sprache-bildung .banner::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #55585e;
  mix-blend-mode: multiply;
  position: absolute;
  inset: 0;
  z-index: 2;
}
.sprache-bildung .banner img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  z-index: 1;
}
.sprache-bildung .banner .title {
  position: absolute;
  inset: 50% auto auto 1em;
  color: white;
  z-index: 3;
  max-width: 50%;
  transform: translateY(-50%);
  line-height: 1.2;
}
.sprache-bildung .sprache-bildung-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  justify-content: space-between;
  align-items: start;
  gap: 2em;
}
.sprache-bildung .text {
  padding: 2em;
  border-radius: 0.3em;
  background-color: white;
}
.sprache-bildung .text .details:not(:nth-of-type(1)) {
  margin-top: 2em;
}
.sprache-bildung .text .details-list {
  list-style: initial;
}
.sprache-bildung .text .details-list li {
  font-size: 1.125rem;
}
.sprache-bildung .text .details-list li:not(:last-child) {
  margin-bottom: 2em;
}
.sprache-bildung .text .inhalt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  margin-top: 2em;
}
.sprache-bildung .text .inhalt h1 {
  margin-bottom: 0.5em;
  color: #8091cb;
}
.sprache-bildung .text .inhalt a {
  color: #8091cb;
  font-size: 0.875rem;
  transition: all 0.4s ease-in-out;
}
.sprache-bildung .text .inhalt a:hover {
  text-decoration: underline;
}
.sprache-bildung .text .inhalt a.active {
  color: #e52315;
}
.sprache-bildung .img-box {
  border-radius: 0.3em;
  overflow: hidden;
}

.notfound {
  display: grid;
  place-items: center;
  min-height: 80vh;
  text-align: center;
}
.notfound h1 {
  font-size: 4rem;
  line-height: 1.7;
  color: #e52315;
}
.notfound h3 {
  font-weight: 500;
}
.notfound p {
  margin: 0;
}/*# sourceMappingURL=style.css.map */